.movie-list-item {
	list-style: none;
}

.movie-list-item__link {
	display: block;
	text-decoration: none;
}

.movie-list-item__poster {
	max-width: 250px;
	height: 190px;
	overflow: hidden;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.movie-list-item__poster {
		max-width: initial;
		height: 250px;
	}
}

@media screen and (min-width: 1200px) {
	.movie-list-item__poster {
		height: 350px;
	}
}

.movie-list-item__image {
	width: 100%;
	height: auto;
}

.movie-list-item__image-no-poster {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 100%;
	background-color: rgba(238, 238, 238, 0.3);
	font-size: 32px;
}

.movie-list-item__title {
	margin: 20px 0;
	transition: color 0.2s ease;
	color: #eee;
	font-size: 16px;
}

.movie-list-item:hover .movie-list-item__title {
	color: #000;
}

@media screen and (min-width: 768px) {
	.movie-list-item__title {
		font-size: 24px;
	}
}
