.movie-details {
	max-width: 984px;
	margin: 0 auto;
	padding: 40px 20px;
}

.movie-details__section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movie-details__poster {
	height: 300px;
	margin-right: 0;
	margin-bottom: 20px;
	overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.movie-details__image {
		width: auto;
	}
}

@media screen and (min-width: 600px) {
	.movie-details__section {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.movie-details__poster {
		width: 100%;
		height: auto;
		margin-right: 30px;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	.movie-details__section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.movie-details__poster {
		margin-right: 30px;
	}

	.movie-details__image {
		width: 200px;
	}
}

.movie-details__image-no-poster {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 445px;
	background-color: rgba(238, 238, 238, 0.3);
	font-size: 32px;
}

.movie-details__info {
	color: #eee;
}

.movie-details__title {
	margin: 0;
	font-size: 24px;
	text-align: center;
}

@media screen and (min-width: 600px) {
	.movie-details__title {
		margin: 0;
		font-size: 32px;
		text-align: left;
	}

	.movie-details__plot {
		font-size: 20px;
	}

	.movie-details__subtitle {
		font-size: 18px;
	}

	.movie-details__text {
		font-size: 18px;
	}
}

.movie-details__plot {
	padding-bottom: 20px;
	font-size: 16px;
}

.movie-details__descr {
	display: flex;
	margin-bottom: 20px;
}

.movie-details__subtitle {
	width: 60px;
	margin-right: 20px;
	font-size: 14px;
	font-style: italic;
}

.movie-details__text {
	width: 85%;
	font-size: 14px;
}
